.account-tile h1,
.account-tile h2,
.account-tile h3,
.account-tile h4,
.account-tile h5 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.long-button {
	width: 200px;
}

.row-full-height {
	height: 100%;
}

.col-full-height {
	height: 100%;
	vertical-align: middle;
}

.row-same-height {
  	display: table;
  	width: 100%;
  	table-layout: fixed;
}

.col-xs-height {
  	display: table-cell;
  	float: none !important;
}

.form-inline .form-control {
  	display: inline-block;
  	width: 90%;
  	vertical-align: middle;
}

.btn-default {
	color: #333;
  	background-color: #ddd;
  	border-color: #ccc;
}

table>tbody>.login-table-row>td {
	vertical-align: middle;
}

.login-table-row td h3,
.login-table-row td h4 {
	margin-top: 10px;
	margin-bottom: 10px;
	vertical-align: middle;
}

.custom-radio {
	width: 18px;
	height: 18px;
}

.identifier-input {
	height: 42px;
	font-size: 16px;
}