/******* GENERAL *******/

.long-button {
	width: 200px;
}

/******* LOGIN PAGE *******/

.row-full-height {
	height: 100%;
}

.login-table>tbody>tr:hover {
	background-color: #ddd;
	cursor: pointer;
}

table>tbody>.login-table-row>td {
	vertical-align: middle;
}

.login-table-row td h3,
.login-table-row td h4 {
	margin-top: 10px;
	margin-bottom: 10px;
	vertical-align: middle;
}

.identifier-input {
	height: 42px;
	font-size: 16px;
}

.selected-glyph {
	font-size: 20px;
	color: gray;
}

/******* ACCOUNT-TILE *******/

.account-tile h1,
.account-tile h2,
.account-tile h3,
.account-tile h4,
.account-tile h5 {
	margin-top: 5px;
	margin-bottom: 5px;
}