<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head></head>

<body>

	<nav th:fragment="navbar" th:inline="text" class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header pull-left">
				<span class="navbar-brand">Identity Binding Service[[ ${ title != null } ? ' - ' + ${ title } : '' ]]</span>
			</div>
	
			<ul class="nav navbar-nav navbar-left" sec:authorize="isAuthenticated()">
				<li><a th:href="@{/accounts}">Accounts</a></li>
			</ul>
	
			<ul class="nav navbar-nav navbar-right" sec:authorize="!isAuthenticated()">
				<li><a th:href="@{/login}">Log In</a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right" sec:authorize="isAuthenticated()">

				<li>
					<form class="navbar-form" th:action="@{/logout}" method="post">
						<input type="submit" class="btn btn-link" value="Log Out" />
					</form>
				</li>

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
					aria-expanded="false">Log In<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a th:href="@{/login}">Log In</a>
						</li>
						<li class="divider"></li>
						<li th:each="token : ${#authentication.tokens}">
							<span th:replace="fragments/navbar-account :: account(${token})">Account</span>
						</li>
					</ul>
				</li>

			</ul>

		</div>
	</nav>

</body>
</html>
