<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/header :: header(title='Accounts')">
</head>
<body th:inline="text">

	<nav th:replace="fragments/navbar :: navbar(title='Accounts')"></nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">

				<!-- begin page content -->
				
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Accounts</h3>
					</div>
					<div class="panel-body">Here you can manage all of your bound identities. You can view more information for any identity by clicking its "View Details" button,
						or unbind an identity from the others by clicking its "Unbind" button. NOTE: You can only unbind an account if it is not currently online.</div>
				</div>

				<table class="table table-striped table-hover account-table">
					<thead>
						<tr>
							<th class="col-sm-1">Online</th>
							<th class="col-sm-7">Profile</th>
							<th class="col-sm-2">Activity</th>
							<th class="col-sm-2">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="account,iter : ${accounts}"
							th:with="online=${ #authentication.containsIssSubPair(account.issuer, account.subject) },u=${ account.userInfo } ">
							<td>
								<span class="glyphicon glyphicon-ok-circle glyph-online text-success" th:if ="${ online }"></span>
								<span class="glyphicon glyphicon-remove-circle glyph-online text-danger" th:unless ="${ online }"></span>							
							</td>
							<td>
								<div th:replace="fragments/account-tile :: account-tile(${u}, ${account})">
								
								</div>
							</td>
							<td>
								<b>First used:</b> <span class="text-muted">[[ ${ beans.prettyTime.format(account.firstUsed) } ]]</span>
								<br>
								<b>Last used:</b> <span class="text-muted">[[ ${ beans.prettyTime.format(account.lastUsed) } ]]</span>						
							</td>
							<td>
								<button type="button" class="btn btn-default action-button"><span class="glyphicon glyphicon-search"></span> View Details</button>
 								<form th:action="@{/unbind/confirm}" method="post">
 									<input type="text" style="display: none;" name="issuer" th:value="${ account.issuer }"/>
 									<input type="text" style="display: none;" name="subject" th:value="${ account.subject }"/>
 									<button type="submit" class="btn btn-default action-button" th:disabled="${online}">
 										<span th:unless="${ online }" class="glyphicon glyphicon-trash"></span>[[ ${ online }? ' Logged In' : ' Unbind' ]]</button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
				
				<div class="row text-center">
					<div class="col-md-2 col-md-offset-4">
						<a class="btn btn-success" th:href="@{/login}">Add Another Account</a>
					</div>
					<div class="col-md-2">
						<form th:action="@{/unbind-all/confirm}" method="get">
							<button type="submit" class="btn btn-danger">Unbind All</button>
						</form>
					</div>
				</div>

				<!-- end page content -->

			</div>
		</div>
	</div>

	<th:block th:include="fragments/jslib :: jslib"></th:block>

</body>
</html>