<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/header :: header(title='Accounts')">
</head>
<body th:inline="text">

	<nav th:replace="fragments/navbar :: navbar(title='Accounts')"></nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">

				<!-- begin page content -->

				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th class="col-sm-1">Status</th>
							<th class="col-sm-7">Profile</th>
							<th class="col-sm-2">Activity</th>
							<th class="col-sm-2">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="account,iter : ${accounts}"
							th:with="online=${ #authentication.containsIssSubPair(account.issuer, account.subject) },u=${ account.userInfo } ">
							<td>
								<span class="glyphicon glyphicon-ok-circle text-success" th:if ="${ online }"></span>
								<span class="glyphicon glyphicon-remove-circle text-danger" th:unless ="${ online }"></span>							
							</td>
							<td class="">
								<h3 class="text-primary">[[ ${ T(org.mitre.openid.connect.binder.util.UserInfoFormatter).displayName(u) } ?: ${ account.subject } ]]
									<small class="text-muted" th:if="${ u } and ${ u.preferredUsername }">([[ ${ u.preferredUsername } ]])</small>
								</h3>
								<h4 th:if="${ u } and ${ u.email }" th:text="${ u.email }">someone@emailaddress.com</h4>
								<h5 class="text-muted">[[ ${ account.subject + " @ " + account.issuer } ]]</h5>
							</td>
							<td>
								<b>First used:</b> <span class="text-muted">[[ ${ beans.prettyTime.format(account.firstUsed) } ]]</span>
								<br>
								<b>Last used:</b> <span class="text-muted">[[ ${ beans.prettyTime.format(account.lastUsed) } ]]</span>						
							</td>
							<td>
								<div class="btn-group" role="group">
									<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> View Details</button>
  									<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span> Disconnect</button>
								</div>
							
							</td>
						</tr>
					</tbody>
				</table>
				
				<div class="text-center">
					<a class="btn btn-success" th:href="@{/login}">Add Another Account</a>
				</div>

				<!-- end page content -->

			</div>
		</div>
	</div>

	<th:block th:include="fragments/jslib :: jslib"></th:block>

</body>
</html>