<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/header :: header(title='Log In')">
</head>
<body th:inline="text">

	<nav th:replace="fragments/navbar :: navbar(title='Log In')"></nav>

	<div class="container-fluid main">
		<div class="row-fluid">
			<div class="span10 offset1">
<!-- begin page content -->

				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Log In</h3>
					</div>
					<div class="panel-body">
						Use this page to log in by selecting an existing preset or selecting 'Other' and entering an
						<code>issuer URI</code>
						or a
						<code>webfinger identifier</code>.
					</div>
				</div>

				<div class="well">
					<div class="row row-full-height">
						<div class="col-md-12">
							<table id="login-table" class="table table-striped table-hover">
								<thead>
									<tr>
										<th class="col-sm-1"></th>
										<th class="col-sm-4">Name</th>
										<th class="col-sm-7">URI or Identifier</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="idp,iter : ${idps}" class="login-table-row">
										<td>
											<input type="radio" class="custom-radio" th:id="'opt'+${iter.count}" name="login-options">
										</td>
										<td>
											<h4 class="text-primary">[[ ${ idp.name } ]]</h4>
										</td>
										<td>
											<h4 class="text-muted">[[ ${ idp.identifier } ]]</h4>
										</td>
									</tr>
									
									<tr class="login-table-row">
										<td>
											<input type="radio" class="custom-radio" id="opt-other" name="login-options">
										</td>
										<td>
											<h4 class="text-primary">Other:</h4>
										</td>
										<td>
											<input type="text" class="form-control identifier-input" name="identifier"
												id="identifier-field" placeholder="Enter URI or identifier" />
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12 text-center">
						<form name="identifier_form" action="openid_connect_login" method="get" onsubmit="return validateForm()">
							<input type="text" name="identifier" id="identifier" value=""/>
							<button type="submit" id="login-button" class="btn btn-primary long-button">Log In</button>
						</form>
					</div>
				</div>

<!-- end page content -->
			
			</div>
		</div>	
	</div>

	<th:block th:include="fragments/jslib :: jslib"></th:block>
	
	<script type="text/javascript">
		$(document).ready(
			function() {
				$('#login-button').on('click',
					function() {
						//var iden_field = $('#identifier-field');
						var iden_input = $('#identifier');
						if ( $('#opt1')[0].checked ) {
							iden_input.val('http://localhost:8080/openid-connect-server-webapp/');
						}
						else if (document.getElementById('opt2').checked) {
							$('#identifier').val('http://localhost:8080/my-openid-connect-server/');
						}
						else if (document.getElementById('opt3').checked) {
							$('#identifier').val('user@mitre.org');
						}
						else if (document.getElementById('opt-other').checked) {
							var iden = $('#identifier-field').val();
							$('#identifier').val(iden);
							//$('#identifier').val('http://localhost:8080/openid-connect-server-webapp/');
						}
						console.log( $('#identifier').val() );
					}
					/*function() {
						var $radioBtn = $('#login-table tr.login-table-row input[name="login-options"]:checked');
						if ( $radioBtn.length === 1 ) {
							var id = $radioBtn.attr('id');
							console.log(id);
							var identifier = "";
							if ( id === 'opt-other' ) {
								identifier = $('#identifier-field').val();
							}
							else {
								identifier = $radioBtn.parent().parent().filter("h4.text-muted").text();
							}
							console.log(identifier);
							$('#identifier').val( identifier );
						}
					}*/
				);
			}
		);
	</script>
	
	<script type="text/javascript">
		function validateForm() {
			//temp
			//return false;
			var input = document.forms['identifier_form']['identifier'].value;
			console.log( input );
			if (input == null || input == "") {
				alert("Please enter a valid issuer URI or webfinger identifier.")
				return false;
			}
		}
	</script>
</body>
</html>
