<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/header :: header(title='Log In')">
</head>
<body>

	<nav th:replace="fragments/navbar :: navbar(title='Log In')"></nav>

	<div class="container-fluid main">
		<div class="row-fluid">
			<div class="span10 offset1">
<!-- begin page content -->

				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Log In</h3>
					</div>
					<div class="panel-body">
						Use this page to log in by entering an
						<code>issuer URI</code>
						or a
						<code>webfinger identifier</code>
						. Use the buttons to pre-fill the form with a known identifier.
					</div>
				</div>

				<div class="well">
					<div class="row row-full-height">
						<div class="col-xs-3 col-xs-height col-full-height">
							<button class="btn btn-block btn-default" id="localhost">Local MITREid Connect
								Server (default setup)</button>
								
							<button class="btn btn-block btn-default" id="localhost2">Local MITREid Connect
								Server #2</button>
							
							<button class="btn btn-block btn-default" id="mitreidorg">mitre.org
								integration site demo user</button>
						</div>
	
						<div class="col-xs-9 col-xs-height col-full-height">
	
							<form name="identifier_form" class="form-inline" action="openid_connect_login" onsubmit="return validateForm()" method="get">
								<input type="text" class="form-control" name="identifier"
										id="identifier" placeholder="URI or identifier" />
								<button type="submit" class="btn btn-primary">Log In</button>
							</form>
	
						</div>
					</div>
				</div>

<!-- end page content -->
			
			</div>
		</div>	
	</div>

	<th:block th:include="fragments/jslib :: jslib"></th:block>
	
	<script type="text/javascript">
		$(document).ready(
			function() {
				$('#localhost').on('click',
					function() {
						$('#identifier').val('http://localhost:8080/openid-connect-server-webapp/');
					});
				$('#localhost2').on('click',
					function() {
						$('#identifier').val('http://localhost:8080/my-openid-connect-server/');
					});
				$('#mitreidorg').on('click',
					function() {
						$('#identifier').val('user@mitreid.org');
					});
			});
	</script>
	
	<script type="text/javascript">
		function validateForm() {
			var input = document.forms['identifier_form']['identifier'].value;
			if (input == null || input == "") {
				alert("Please enter a valid issuer URI or webfinger identifier.")
				return false;
			}
		}
	</script>
</body>
</html>
