<!DOCTYPE html>
<html ng-app="loginModule" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/header :: header(title='Log In')">
</head>
<body th:inline="text" ng-controller="idpCtrl">
	
	<nav th:replace="fragments/navbar :: navbar(title='Log In')"></nav>

	<div class="container-fluid main">
		<div class="row-fluid">
			<div class="span10 offset1">
<!-- begin page content -->

				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Log In</h3>
					</div>
					<div class="panel-body">
						Use this page to log in by selecting an existing preset or selecting 'Other' and entering an
						<code>issuer URI</code>
						or a
						<code>webfinger identifier</code>.
					</div>
				</div>

				<div class="well">
					<div class="row row-full-height">
						<div class="col-md-12">
							<table id="login-table" class="table table-striped table-hover login-table">
								<thead>
									<tr>
										<th class="col-sm-4">Name</th>
										<th class="col-sm-1"></th>
										<th class="col-sm-7">URI or Identifier</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="i in idps" class="login-table-row" ng-click="setOption(i);">
										<td>
											<h4 class="text-primary">{{i.name}}</h4>
										</td>
										<td>
											<span class="glyphicon glyphicon-ok selected-glyph" ng-show="i.identifier == idp && !other_selected"></span>
										</td>
										<td>
											<h4 class="text-muted">{{i.identifier}}</h4>
										</td>
									</tr>
									
									<tr class="login-table-row" ng-click="other_selected=true">
										<td>
											<h4 class="text-primary">Other:</h4>
										</td>
										<td>
											<span class="glyphicon glyphicon-ok selected-glyph" ng-show="other_selected"></span>
										</td>
										<td>
											<input type="text" class="form-control identifier-input" name="identifier"
												id="identifier-field" placeholder="Enter URI or identifier"
												ng-model="other_idp" ng-change="setOther()" ng-focus="setOther()"
												set-focus="other_selected" />
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12 text-center">
						<form name="identifier_form" action="openid_connect_login" method="get">
							<input type="text" style="display: none;" name="identifier" id="identifier" ng-model="idp" required/>
							<button type="submit" id="login-button" class="btn btn-primary long-button" ng-disabled="identifier_form.$invalid">Log In</button>
						</form>
					</div>
				</div>

<!-- end page content -->
			
			</div>
		</div>	
	</div>

	<th:block th:include="fragments/jslib :: jslib"></th:block>
	
	<script>
		angular.module('loginModule', [])
			.controller('idpCtrl', function($scope, $http) {
				$scope.idp = "";
				$scope.other_idp = "";
				$scope.other_selected = false;
				$scope.idps = [];
				
				$scope.setOption = function (option) {
					$scope.idp = option.identifier;
					$scope.other_selected = false;
				}
				
				$scope.setOther = function () {
					$scope.idp = $scope.other_idp;
				}
				
				$http.get('/identity-binder/idps').success( function (data) {
					$scope.idps = data;
				});
			})
			
			// Bring the 'Other' input field to focus when its row is selected
			.directive('setFocus', function() {
				return function (scope, element, attrs) {
					scope.$watch(attrs.setFocus, function(value) {
						if (value === true) {
							element[0].focus();
						}
					});
				};
			});
	</script>
	
</body>
</html>
